<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SuperSize.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SuperSize.Properties.Settings>
            <setting name="ShortcutKey" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="ShortcutModifier" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="ScreenBorderColor" serializeAs="String">
                <value>45, 125, 154</value>
            </setting>
            <setting name="ScreenFillColor" serializeAs="String">
                <value>238, 238, 238</value>
            </setting>
            <setting name="PrimaryScreenFillColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="ScreenTextColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ScreenTextFontFamily" serializeAs="String">
                <value>Segoe UI, 9pt, style=Bold</value>
            </setting>
            <setting name="WindowPreviewBorder" serializeAs="String">
                <value>232, 17, 35</value>
            </setting>
            <setting name="WasOnboarded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogicClass" serializeAs="String">
                <value>SuperSize.CoreLogic.UseAllScreen</value>
            </setting>
            <setting name="LogicConfig" serializeAs="String">
                <value />
            </setting>
            <setting name="LogicSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="ResizeNonResizableAnyway" serializeAs="String">
                <value>False</value>
            </setting>
        </SuperSize.Properties.Settings>
    </userSettings>
</configuration>