# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.SuperSize.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\razz\Sources\SuperSize\.idea\.idea.SuperSize\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
